$primary_color: #ac1c1c;
$sidebar_width: 30%;
$dark_color: #7D371A;
$lightgray: #fbfbfb;
$gutter_width: 10px;
$logo_color: #000;
/* $title_font: 'Montserrat', sans-serif; */
$title_font: 'Playfair Display', serif;

$content_font: 'Open Sans', sans-serif;


